body { background-color: white; color: black; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

img { border: 0; }

h1, h2, h3, dt, th {
  color: #303050;
  font-weight: bold;
}

dt, dd {
  margin-top: 0.5em;
}

a { color: #039; }
a:link,  a:visited { color: #039;    text-decoration: underline; }
a:hover, a:active  { color: #00afff; text-decoration: none; }

th {text-align: left;}

ul.comments {
  margin: 1em;
  padding: 0;
}

.comments li {
  list-style-type: none;
  padding: 0.5em 1em;
}

.comments li blockquote {
  margin: 0.5em 1em;
  font-style: italic;
}

li.stripe-even {
  background-color: #eee;
}



/* following styles cribbed from scaffold.css */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* will_paginate */

.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

