development:
  adapter: mysql
  encoding: utf8
  database: teldra_development
  username: root
  password:
  socket: /tmp/mysql.sock

test:
  adapter: mysql
  encoding: utf8
  database: teldra_test
  username: root
  password:
  socket: /tmp/mysql.sock

production:
  adapter: mysql
  encoding: utf8
  database: teldra_production
  username: root
  password:
  socket: /tmp/mysql.sock
