<h1>Administration Panel</h1>
<ul>
  <li><%= link_to "Create new article", new_admin_article_path %></li>
  <li><%= link_to "Manage articles", admin_articles_path %></li>
</ul>
<ul>
  <li><%= link_to "Manage comments", admin_comments_path %></li>
</ul>
<ul>
  <li>Manage tags</li>
</ul>
<p><%= link_to "Logout", logout_path %></p>